@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body{
    background: #151515;
}

section {
    position: relative;
    width: 100%;
    padding: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

@keyframes colors {
    0%{
        filter:hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

.circle {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(1, 145, 255);
    clip-path: circle(10% at top right);
    z-index: 900;
}

header {
    background-color: #040404;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 100vw;
    max-width: 100vw;
    padding: 2% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
}

header .nav ul {
    position: relative;
    display: flex;
}

header .nav li {
    list-style: none;
}

header .nav li a {
    color: white;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 2vw;
    margin-right: 5vw;
    border-bottom: 0.15vw solid transparent; /* Adiciona uma borda transparente na parte inferior*/
    transition: border-bottom-color 0.4s ease; /* Adiciona uma transição suave para a mudança de cor da borda */
}

header .nav li a:hover {
    border-bottom-color: #ffffff;
}


header .nav li:last-child {
    margin-right: 0;
}


@media (max-width: 768px) {
    header .nav li a {
        font-size: 2vw;
        margin-right: 5vw;
    }

    section {
        padding: 20px;
    }
}

.container {
    position: fixed;
    top: 0;
    right: 1%;
    text-align: center;
    z-index: 901;
}

.container2{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.titulo{
    color: white;
    font-size: 3vw;
}

.principal {
    font-size: 5vw;
    font-weight: 500;
    color: white;
    padding-right: 2%;
    font-family: 'Caveat', cursive;
}

.paginas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paginas img {
    max-width: 100%;
    height: auto;
    margin-bottom: 5px; /* Adiciona margem inferior entre as imagens */
}

#OpacNav{
    color: white;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 2vw;
    margin-right: 5vw;
    border-bottom: 0.15vw solid transparent;
    transition: border-bottom-color 0.4s ease;
}

#btnTopo {
    display: none; /* Inicialmente oculto */
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    font-size: 1.5vw;
    border: none;
    outline: none;
    background-color: rgb(1, 145, 255);
    color: #fff;
    cursor: pointer;
    border-radius: 70%;
    padding: 1vw;
}

#btnTopo img{
    height: 1.75vw;
    width: 2vw;
}

#botoesContainer {
    padding: 10px;
    text-align: center;
}

.botao {
    display: inline-block;
    margin: 0 10px;
    padding: 8px 16px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    background-color: rgb(1, 145, 255);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.botaoInativo{
    display: inline-block;
    margin: 0 10px;
    padding: 8px 16px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    background-color: #002d49;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: not-allowed;
}

.botao:hover {
    background-color: #0056b3;
}

